*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    color: #fff;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 18px ;
    text-decoration: double;
    color: seagreen;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover{
    color: darkblue;

}
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction:column ;
}
.home-content h1  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 78px;
    color:  rgb(45, 45, 116);
    
}

.home-content h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;
}
.home-content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: flex-start;
}
.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: white;
    border: 2px solid darkblue;
    outline: none;
    border-radius: 6px;
}















